* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 50px;
}

p,
h4 {
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
}

header {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    color: white;
}

main img {
    width: 100%;

}

article {
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin-top: -10px;
    color: white;
}

article p {
    padding: 10px;
    /* text-align: left; */
    padding-right: 200px;
    letter-spacing: 0px;
    padding-top: 20px;
    padding-left: 150px;
    justify-content: left;
}

article img {
    width: 500px;
    padding-right: 237px;
    padding-top: 30px;
}

article .info {
    padding: 100px;
}

.iconos {
    background-color: #1E1A13;
    color: white;
    padding: 50px;
    text-align: center;
}

.iconos .logos {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.galeria {
    display: flex;
    background-color: black;
    padding: 20px;
    justify-content: center;
}

.galeria img {
    width: 316px;
    padding: 10px;
}

footer {
    background-color: #1E1A13;
    padding: 30px;
    text-align: center;
    color: #FFFFFF;
}